# Porta onde a API vai rodar
PORT=3000

# URL de conexão com o Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# Segredo para a camada extra de segurança das senhas (Pode ser gerado via terminal)
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
PEPPER_SECRET="hash_aleatorio"

# Segredo para assinatura dos Tokens JWT
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="hash_aleatorio"